* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    background-color: bisque;
    min-height: 960px;
    margin: auto auto;
}

#box-container {
    display: grid;
    grid-template-columns: 70%;
    padding: 10px;
    justify-content: center;
}

.box {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

span {
    font-size: 0.7em;
}

label {
    font-size: 0.7em;
}

#form-container{
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    margin: auto auto;
}

.form-items {
    border: 2px solid black;
    margin: 3px 3px;
    display: flex; 
    justify-content:center; 
    align-items:center;
    height: 50px;
}

.form-items input[type=text], .form-items select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  background: none;
  border-radius: 4px;
  box-sizing: border-box;
  height: 100%;

}

#form-container .form-items input[type=number], #form-container .form-items  select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  background: none;
  border-radius: 4px;
  box-sizing: border-box;
  height: 100%;

}

button {
    padding: 0;
    margin: 0;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
	margin-top: 50px;
	text-align: center;
	background: #333;
	color: #fff;
    font-size: 00.7em;
    align-items:center ;
    justify-content: center;
}

table th {
    padding: 5px 5px;
    align-items:center ;
    justify-content: center;
    font-size: 1.2em;
}

table td {
    padding: 5px 5px;
    align-items:center ;
    justify-content: center;
}

#show th, #show td{
	padding: 13px;
}

#btna td input{
	width: 100%;
}

#print-content {
    width: 80%;
    margin: auto auto;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

table td .button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}