* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    background-color: bisque;
    min-height: 960px;
    margin: auto auto;
}

#box-container {
    display: grid;
    grid-template-columns: 70%;
    padding: 10px;
    justify-content: center;
}

.box {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(161, 161, 161, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 10px auto;
    width: 960px;
    border-radius: 10px;
}

.box p {
    margin-left: 100px;
    text-align: left;
    font-size: 0.7em;
}

.box span {
    text-align: left;
    font-size: 0.7em;
}

span {
    font-size: 0.7em;
}

label {
    font-size: 0.7em;
}



.form-items {
    border: 2px solid black;
    margin: 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.form-items input[type=text],
.form-items select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    background: none;
    border-radius: 4px;
    box-sizing: border-box;
    height: 100%;

}

#form-container .form-items input[type=number],
#form-container .form-items select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    background: none;
    border-radius: 4px;
    box-sizing: border-box;
    height: 100%;

}

table {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    background: white;
    color: black;
    border: solid black 2px;
    
}

tr, th, td {
    border: solid black 1px;
    padding: 5px 5px;
    text-align: center;

}

.left-50px {
    text-align: left;
    padding-left: 53px;
}

#show th,
#show td {
    padding: 13px;
}

#btna td input {
    width: 100%;
}

#print-content {
    width: 80%;
    margin: auto auto;
}



input,
select {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 20px;
}

button {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.blue-box {
    background: #4CAF50;
    color: white;
    text-transform: uppercase;
}